
/* #page-info{
    width: 90%;
    margin: auto;
} */

.col-md-4,
.col-md-8{
    max-height: 340px !important;
}

.card{
    max-height: 340px;
    overflow: hidden;
    margin-bottom: 30px !important;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.score{
    color: white;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
}

.card-title .title{
    text-align: left;
}

.card img{
    width: 120%;
    height: 100%;    
}

.card-body{
    margin-left: 40px;
    max-height: 100%;
}

.card-title{
    margin-left: 20px;
}

.card-text {
    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-footer{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    padding: 10px;
}

