/************************* Recommendations *************************/
.recommend{
    padding-bottom: 100px;
    width: 95%;
    margin: auto;
}

.recommend h3{
    text-align: center;
}

.recommended-divider{
    width: 15%;
    background-color: #343a40;
    margin: 0px auto 30px auto;
    border: 1px solid rgba(52, 58, 64, .4);
}

.recommendations{
    background-color: #343a40;
    border: 2px solid #343a40;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .3);
    max-height: 256px;
}

.recommendations .col-md-3{
    padding: 0px;  
    
}

.rec-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 3px black;
    visibility: hidden;
    text-align: center;
}

.rec-image{
    width: 100%;
    margin: auto;
}

.recommendations .col-md-3:hover{
    border: 1px solid #343a40;
    filter: brightness(.85);      
    cursor: pointer; 
}

.recommendations .col-md-3:hover .rec-title{
    visibility: visible;    
}

@media only screen and (max-width: 500px){

    .recommendations{
        max-height: none;
    }
    
    .rec-title{
        visibility: visible;
        top: 90%;
        background-color: rgba(0, 0, 0, .5);
        padding: 10px;
        width: 100%;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        line-height: 1.45em;
        overflow: hidden; 
    }
}