<!-- Recommended Movies Section
     - Only shows on the movie-details page -->
<div class="recommend" *ngIf="movieRecommended.length > 0">
    <h3>Movies related to {{title}}</h3>
    <hr class="recommended-divider">
    <div class="row recommendations">
        <div class="col-md-3" *ngFor="let movie of movieRecommended" (click)="movieSelect(movie)">
            <h4 class="rec-title">{{movie.title}}</h4>
            <img class="rec-image" src="https://image.tmdb.org/t/p/w500{{movie.image}}" alt="{{movie.title}}">                
        </div>
    </div>
</div> 
<!-- Recommended Shows Section 
     - Only shows on the shows-details page -->
<div class="recommend" *ngIf="showsRecommended.length > 0">
    <h3>Shows related to {{title}}</h3>
    <hr class="recommended-divider">
    <div class="row recommendations">
        <div class="col-md-3" *ngFor="let show of showsRecommended" (click)="showSelect(show)">
            <h4 class="rec-title">{{show.title}}</h4>
            <img class="rec-image" src="{{show.image}}" alt="{{show.title}}">       
        </div>
    </div>
</div>    
