<div class="page-info">
    <div id="personal-info">
        <div class="row">
            <!-- Basic-Info Section -->
            <div class="col-md-4" id="bio-info">
                <div>
                    <img class="bio-image" src="https://image.tmdb.org/t/p/w300{{details.profile_path}}" alt="">
                    <h1 class="text-muted" id="img-name">{{details.name}}</h1>
                    <hr id="img-divider">
                    <div id="basic-info">
                        <h4>Known For</h4>
                        <p class="detail">{{details.known_for_department}}</p>
                        <h4>Birthday</h4>
                        <p class="detail">{{birthday}}</p>
                        <h4>Place of Birth</h4>
                        <p class="detail">{{details.place_of_birth}}</p>
                    </div> 
                </div>                                          
            </div>
            <!-- Bio-Info Section -->
            <div class="col-md-8">
                <div id="bio">
                    <h1 id="name">{{details.name}}</h1>
                    <div id="bio-details">
                        <h5>Biography:</h5>
                        <div id="bio-text">
                            <p class="bio-text" [class.show]="show == true">{{details.biography}}</p>
                        </div>                        
                        <div *ngIf="truncate == true">
                            <button *ngIf="show == true; else notShow" class="btn more-less" (click)="show = false">
                                <h5>Less<i class="fas fa-caret-up"></i></h5>
                            </button>
                            <ng-template #notShow>
                                <button class="btn more-less" (click)="show = true">
                                    <h5>Continue Reading<i class="fas fa-caret-down"></i></h5>
                                </button>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <!-- Movie/Show Credits Section -->
                <div class="row" id="credits">
                    <div class="col-sm-3" *ngFor="let credit of credits | slice: 0:12">
                        <img class="credit-image" (click)="checkMediaType(credit)" src="https://image.tmdb.org/t/p/w300{{credit.poster_path}}" alt="{{credit.title}}">
                        <p id="credit-title">
                            {{credit.title}} 
                            {{credit.name}}
                        </p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
