<footer class="page-footer font-small">
    <div class="row">
        <div class="col-lg-7">
            <div class="row">
                <!-- Quicklinks Section
                     - Will only appear if screen is  <= 500px -->
                <div class="col-md-4 col-lg-6 small">
                    <h5 class="footer-title">Quick Links</h5>
                    <ul id="quickLinks">
                        <li class="link-item">
                            <a class="link" routerLink="/movies">Movies</a>
                        </li>
                        <li class="link-item">
                            <a class="link" routerLink="/shows">Shows</a>
                        </li>
                    </ul>
                </div>
                <!-- Developer/Purpose-Statement Section -->
                <div class="col-md-4 col-lg-6">
                    <div id="developerInfo">
                        <h5 class="footer-title">Developer:</h5>
                        <p>Nick Schneider</p>
                        <h5 class="footer-title">Program:</h5>
                        <p>WebDev II Final Project</p>
                    </div>              
                    <hr id="quote-divider">
                    <div>
                        <h6 id="quote">"You can't climb the ladder of success with your hands in the pocket"</h6>
                        <h6 id="quoted"><strong> - Arnold Schwarzenegger</strong></h6>
                    </div>
                </div> 
                <!-- Quicklinks Section
                     - Will only appear if screen is  > 500px -->
                <div class="col-md-4 col-lg-6 big">
                    <h5 class="footer-title">Quick Links</h5>
                    <ul id="quickLinks">
                        <li class="link-item">
                            <a class="link" routerLink="/movies">Movies</a>
                        </li>
                        <li class="link-item">
                            <a class="link" routerLink="/shows">Shows</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-5" id="footer-decoration"></div>  
    </div>
    <!-- Copyright Section -->
    <div class="footer-copyright text-center py-3">    
        <h6><small>&copy; 2019 Copyright: Nick Schneider</small></h6>
    </div>   
</footer>