<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Shopping Cart</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Cantarell&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="page">
        <div id="app">
            <div class="row">
                <div class="col-sm-4" v-for="item in items">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <h1>{{item.name}}</h1>                           
                            </div>
                        </div>
                        <img class="card-img-top" :src="item.imgSrc" :alt="item.name">                    
                        <div class="card-body">
                            <p>{{item.description}}</p>
                            <p>Price: <strong>${{item.price}}</strong> <span class="float-right mr-4">Stock: <strong>{{item.currentStock}}</strong></span></p>
                            <button class="btn btn-primary" @click=orderThis(item)>{{stockMessage}}</button> 
                        </div>
                    </div>           
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Game</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="cartItem in itemsOrdered">
                        <td>{{cartItem.name}}</td>
                        <td>{{cartItem.qty}}</td>
                        <td>{{cartItem.price}}</td>
                        <td>{{cartItem.subtotal}}</td>
                        <td>
                            <button class="btn btn-danger" @click=removeThis(cartItem)>X</button>
                            <button class="btn btn-danger" @click=removeAll(cartItem)>Remove All</button>                    
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total: <strong>{{total}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>        
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="scripts.js"></script>
</body>
</html>