/***************************** Project-Info *****************************/
.jumbotron{
    background-image: url("../assets/Images/silent-movie-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #1d2024;
    margin-bottom: 0pc;
    color: white;
    box-shadow: 0px -5px 10px black inset;
}

.jumbotron p{
    padding-left: 150px;
}

#purpose{
    text-decoration: underline;
    text-shadow: 1px 1px 2px black;
}

.lead,
small{
    text-shadow: 1px 1px 2px black;
}

hr{
    width: 84%;
    border-color: white;
}

header{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .7);
    background: linear-gradient(to right, #343a40, #24282c);
    margin-bottom: 0px;
}

/***************************** Navigation *****************************/
.navbar{
    margin-top: 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .4);
    background: linear-gradient(to right, #343a40, #24282c);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.nav-item{
    display: inline-block;
    padding-right: 5px;
}

.nav-link{
    color: white;
}

#genre-nav{
    color: white;
    visibility: hidden;
}

.nav-link:hover{
    color: #00d382;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
}

#searchBar{
    margin-top: 10px; 
}

.search-btn{
    border: 1px solid #00d382;
    color: #00d382;
}

.search-btn:hover{
    background-color: #00d382;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-color: black;    
}

.search-btn:focus,
.search-btn:active,
.search-btn:active:focus{
    outline: none !important;
    outline-style: groove;
    box-shadow: none !important;
}

.navbar-toggler{
    margin-bottom: 10px;
}

.navbar-toggler-icon{
    color: white;    
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:active:focus{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

/********************************* Media Queries *********************************/
@media only screen and (max-width: 500px){
    .jumbotron{
        background: linear-gradient(to bottom left, #343a40, #24282c, #00d382);
    }

    .jumbotron p{
        margin-top: 20px;
        padding-left: 40px;
    }

    .navbar form input{
        width: 75%;
    }

    hr{
        margin-top: 0px;
        width: 84%;
        border-color: white;
    }
    
}