/***************************** Page Header *****************************/
#show-header{ 
    width: 98%;
    margin: auto;
    min-height: 640px; 
    max-height: 640px;
    min-width: 100%;
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% auto !important;
}

/***************************** Page Info *****************************/
.page-info{
    width: 98%;
    margin: auto;
    background-color: white;
    min-height: 100vh;
}

/************************* Poster *************************/
.show-poster{
    width: 100%;
    max-height: 90%;
    margin: auto;
}

/************************* Show-detail Info *************************/
#show-release{
    background-color: #343a40;
    margin: auto;    
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .5), 0px -1px 2px rgba(0, 0, 0, .5);
    margin-bottom: 40px;
}

#show-title{
    color: white;
}

.synopsis{
    width: 60%;
    margin: auto;
    text-align: left;
}

.show-info{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}

.show-overview{
    width: 60%;
    margin: auto;
    margin-top: 20px;
    font-size: 1.2em;
}

hr{
    width: 60%;
    margin-bottom: 40px;
}

h4{
    text-align: center;
}

/************************* Trailer *************************/
.show-trailer{
    margin-bottom: 80px;
}

#trailer-heading{
    text-align: center;
}

#media-divider{
    width: 8%;
    background-color: #343a40;
    margin: 0px auto 30px auto;
    border: .75px solid rgba(52, 58, 64, .4);
}

#player iframe{
    display: block;
    margin: 20px auto;
    border: 5px ridge #343a40;
}

/************************* Reviews *************************/
.reviews{
    margin-bottom: 80px;
}

.section-title{
    text-align: center;
}

#reviews-divider{
    width: 10%;
    background-color: #343a40;
    margin: 0px auto 30px auto;
    border: .75px solid rgba(52, 58, 64, .4);
}

.card{
    max-width: 70%;
    margin: auto;
    padding: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .05);
    margin-bottom: 10px;
}

.user{
    padding-left: 10%;
}

.card-text{
    width: 80%;
    margin: auto;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/********************************* Media Queries *********************************/
@media only screen and (max-width: 500px){

    /************************* Show-detail Info *************************/
    #show-header{ 
        width: 100%;
        min-height: 200px;
    }

    .show-info{
        width: 90%;
    }

    #synopsis,
    .show-overview{
        width: 100%;
    }

    /************************* Trailer *************************/
    #trailer-heading{
        display: block;
    }

    .show-trailer{
        margin-bottom: 40px !important;
    }

    #player{
        width: 100%;
        margin: auto;
    }

    iframe{
        max-width: 100%;
        max-height: 280px;
        border: none !important;
    }

    /************************* Reviews *************************/
    .card{
        max-width: 90%;
    }

}